div.head{
width: 126px;
height: 80px;
margin: 0.5em;
padding: 0.2em;
color: #000000;
text-decoration: none;
text-align: center;		
/*
Activamos las transparencias para que se vea el fondo que
pongamos, se configura la transparencia para cada tipo de
navegador (Firefox, IE y Mozilla).
filter: alpha(opacity=50);
opacity: .5;
-moz-opacity:0.5;
*/
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 2px 2px 25px #227ab7;
-moz-box-shadow: 2px 2px 25px #227ab7;
box-shadow: 2px 2px 25px #227ab7;
z-index: 4;
}

div.banner{
width: 86.5%;
height: 11%;
/*
Activamos las transparencias para que se vea el fondo que
pongamos, se configura la transparencia para cada tipo de
navegador (Firefox, IE y Mozilla).
*/
position: fixed;
top: 0%;
left: 11.5%;

-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 2px 2px 20px #227ab7;
-moz-box-shadow: 2px 2px 20px #227ab7;
box-shadow: 2px 2px 20px #227ab7;	

overflow-y: auto;
/* Orden de los elementos */
z-index: 1;
}

div.menu{
width: 96.5%;
height: 1.2em;
position: fixed;
top: 12%;
left: 1%;
padding: 0.5em;
padding-left: 1em;
padding-top: 0.5em;
margin: 0em;
margin-top: 1em;	 
/*
Activamos las transparencias para que se vea el fondo que
pongamos, se configura la transparencia para cada tipo de
navegador (Firefox, IE y Mozilla).
	 filter: alpha(opacity=50);
	 opacity: .5;
	 -moz-opacity:0.5;
*/
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 2px 2px 25px #227ab7;
-moz-box-shadow: 2px 2px 25px #227ab7;
box-shadow: 2px 2px 25px #227ab7;	
z-index: 2;
}

div.panelizq{
width: 126px;
height: 72%;
padding: 0.2em;
color: #000000;
text-decoration: none;
text-align: center;
position: fixed;
top: 153px;
left: 1%;	
/*
Activamos las transparencias para que se vea el fondo que
pongamos, se configura la transparencia para cada tipo de
navegador (Firefox, IE y Mozilla).
filter: alpha(opacity=50);
opacity: .5;
-moz-opacity:0.5;
*/
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 2px 2px 25px #227ab7;
-moz-box-shadow: 2px 2px 25px #227ab7;
box-shadow: 2px 2px 25px #227ab7;
z-index: 4;
overflow-y: auto;
}

div.content{
width: 86%;
height: 70%;
/*
Activamos las transparencias para que se vea el fondo que
pongamos, se configura la transparencia para cada tipo de
navegador (Firefox, IE y Mozilla).
*/
position: fixed;
top: 153px;
left: 12%;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 2px 2px 20px #227ab7;
-moz-box-shadow: 2px 2px 20px #227ab7;
box-shadow: 2px 2px 20px #227ab7;	
padding: 10px;
overflow-y: auto;
/* Orden de los elementos */
z-index: 1;
}

div.foot{
/*
Asignamos el tama�o de la capa.
*/
width: 97%;
height: 1%;
	 
/*
Posicionamos el pie de pagina... CUIDADO, esta posicion no funciona en
Internet Explorer.
*/
position: fixed;
left: 1%;
bottom: 0%;
text-align: center;
	 
/*
Activamos las transparencias para que se vea el fondo que
pongamos, se configura la transparencia para cada tipo de
navegador (Firefox, IE y Mozilla).
filter: alpha(opacity=50);
opacity: .5;
-moz-opacity:0.5;*/
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 2px 2px 25px #227ab7;
-moz-box-shadow: 2px 2px 25px #227ab7;
box-shadow: 2px 2px 25px #227ab7;
padding: 10px;
z-index: 3;
}

body{
/*Degradado para IE.*/
/*Degradado para los otros navegadores*/
background-image: -webkit-gradient(
linear,
left top,
right bottom,
color-stop(0.23, rgb(255,255,255)),
color-stop(0.85, rgb(223,242,253)),
color-stop(0.85, rgb(223,242,253))
/*color-stop(0.85, rgb(205,235,252))*/
);
}

TD.menu{
font-family: 'Monotype Corsiva';
color: #333333;
text-decoration: none;
}
			 
TD.menu a:link{
font-family: Informal Roman;
color: #333333;
text-decoration: none;
}
			 
TD.menu a:visited{
font-family: Informal Roman;
color: #333333;
text-decoration: none;
}
			 
TD.menu a:hover{
font-family: Informal Roman;
color: #FF3300;
text-decoration: none;
}
			 
TD.menu a:active{
font-family: Informal Roman;
color: #FF3300;
text-decoration: none;
}